* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  background-color: #000; }

body {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 700;
  font-style: normal; }

h1 {
  font-weight: normal;
  color: #b91e1e;
  /*margin-bottom: 20px;*/ }
  h1 div {
    color: white;
    font-size: 50px; }

#debil {
  margin: 0 auto;
  color: white;
  text-align: center;
  width: 90%; }
  #debil ul {
    color: #f2bb48;
    margin-bottom: 20px; }
    #debil ul li {
      display: inline-block;
      font-size: 12px;
      list-style-type: none;
      padding: 1em;
      text-transform: uppercase; }
      #debil ul li div {
        display: block;
        font-size: 32px; }
  #debil a img {
    width: 30px;
    opacity: 0.5; }

[v-cloak] {
  display: none; }

@media only screen and (min-width: 1000px) {
  h1 div {
    font-size: 110px; }
  #debil ul li {
    font-size: 24px; }
    #debil ul li div {
      font-size: 62px; } }
